In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_sf.csv')

In [33]:
df.head()

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13

#### Task 1. С помощью сводной таблицы и функции loc посчитайте, сколько получают ("Wage") русские футболисты ("Russia"), играющие за ФК "AS Monaco".

#### Solution:

In [67]:
pivot = df.pivot_table(values='Wage',
index=['Club'],
columns=['Nationality'],
aggfunc='sum',
fill_value=0)
display(pivot[:5])

Nationality,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua & Barbuda,Argentina,Armenia,Australia,Austria,...,Turkey,Uganda,Ukraine,United States,Uruguay,Uzbekistan,Venezuela,Wales,Zambia,Zimbabwe
Club,,,,,,,,,,,,,,,,,,,,,
SSV Jahn Regensburg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1. FC Heidenheim 1846,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1. FC Kaiserslautern,0,0,0,0,0,0,0,0,0,0,...,1000,0,0,0,0,0,0,0,0,0
1. FC Köln,0,0,0,0,0,0,0,0,0,18000,...,0,0,0,1000,0,0,0,0,0,0
1. FC Magdeburg,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
pivot.loc['AS Monaco']['Russia']

61000

#### Cnonclusion: 61000 is the right answer!!!

#### Task 2. Создайте сводную таблицу, содержащую сведения о средней скорости футболистов, занимающих разные позиции (Position) в разных футбольных клубах (Club).

#### Основываясь на данных таблицы, отметьте три позиции, представители которых в среднем обладают самой высокой скоростью.

- RB (правый защитник)
- LM (левый полузащитник)
- RM (правый полузащитник)
- CF (центральный отянутый форвард)
- RWM (правый атакующий полузащитник)
- RS (правый конечный форвард)

#### Solution:

In [80]:
df.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Nationality', 'Club', 'Value', 'Wage',
       'Position', 'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing',
       'Volleys', 'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing',
       'BallControl', 'Acceleration', 'SprintSpeed', 'Agility', 'Reactions',
       'Balance', 'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes'],
      dtype='object')

In [81]:
pivot = df.pivot_table(values = 'SprintSpeed',
                 index=['Position'],
                 columns=['Club'],
                 aggfunc='mean',
                 fill_value=0)
display(pivot[:5])

Club,SSV Jahn Regensburg,1. FC Heidenheim 1846,1. FC Kaiserslautern,1. FC Köln,1. FC Magdeburg,1. FC Nürnberg,1. FC Union Berlin,1. FSV Mainz 05,AC Ajaccio,AC Horsens,...,Wycombe Wanderers,Yeni Malatyaspor,Yeovil Town,Yokohama F. Marinos,Zagłębie Lubin,Zagłębie Sosnowiec,Çaykur Rizespor,Örebro SK,Östersunds FK,Śląsk Wrocław
Position,,,,,,,,,,,,,,,,,,,,,
CAM,0.0,68.000000,0.000000,0.0,0.0,66.0,61.0,0.0,71.333333,0.000000,...,0.000000,71.500000,0.0,70.333333,0.0,73.0,74.0,0.00,67.000000,0.000000
CB,46.6,61.333333,59.000000,60.0,60.0,55.0,59.0,71.5,46.000000,53.333333,...,64.666667,62.000000,54.0,45.250000,0.0,46.5,58.0,60.75,76.000000,62.000000
CDM,82.0,0.000000,65.666667,32.0,0.0,59.0,66.5,0.0,0.000000,56.000000,...,0.000000,65.666667,0.0,61.000000,54.0,66.0,62.8,0.00,0.000000,66.666667
CF,0.0,0.000000,0.000000,0.0,64.0,0.0,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.00,77.000000,0.000000
CM,61.0,68.000000,0.000000,68.5,0.0,53.0,72.0,69.0,77.000000,62.500000,...,66.500000,64.000000,67.0,67.000000,55.0,0.0,0.0,63.00,56.333333,72.000000

In [82]:
pivot.max(axis=1).sort_values(ascending=False)

Position
RS     94.0
RM     94.0
LM     94.0
LS     93.0
RB     93.0
LB     93.0
CF     91.0
LW     91.0
ST     91.0
RDM    91.0
RW     91.0
RCM    90.0
CAM    89.0
LF     88.0
RCB    88.0
LCB    88.0
RWB    86.0
RF     86.0
CM     86.0
LWB    86.0
LAM    85.0
LCM    84.0
CDM    83.0
LDM    79.0
RAM    78.0
CB     78.0
GK     62.0
dtype: float64

#### Conclusion: RS, RM, LM are the right answers!!!

#### Task 3. Используя таблицу, созданную на предыдущем шаге, отметьте названия трёх клубов, в которых центральные форварды (ST) обладают наибольшей средней скоростью.

- Sydney FC
- CD Lugo
- Arsenal
- Toronto FC
- Girona FC
- Melbourne Victory
- Vitória

#### Solution:

In [86]:
pivot.loc['ST'].sort_values(ascending=False)[:3].index

Index(['Vitória', 'Sydney FC', 'CD Lugo'], dtype='object', name='Club')

#### Conclusion: ['Vitória', 'Sydney FC', 'CD Lugo'] are the right answers!!!