In [1]:
import pandas as pd

In [51]:
log = pd.read_csv('log.csv', header=None)
log.dropna(inplace=True)

In [52]:
log.columns = ['user_id', 'time', 'bet', 'win']

In [53]:
log.head()

,user_id,time,bet,win
14,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0

In [54]:
log.time = log.time.apply(lambda s: s[1:])

In [55]:
log.head()

,user_id,time,bet,win
14,Запись пользователя № - user_917,2019-01-02 8:57:36,145732.0,1987653.0
29,Запись пользователя № - user_942,2019-01-04 13:59:42,1678321.0,9876543.0
151,Запись пользователя № - user_982,2019-01-16 21:54:22,100.0,4749.0
189,Запись пользователя № - user_964,2019-01-21 18:34:44,200.0,4667.0
205,Запись пользователя № - user_931,2019-01-22 5:26:59,300.0,4319.0

In [56]:
log.time = pd.to_datetime(log.time)

In [49]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
user_id    1000 non-null object
time       985 non-null datetime64[ns]
bet        485 non-null float64
win        138 non-null float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 31.3+ KB

In [57]:
log.time.max()

Timestamp('2019-04-20 12:55:41')

In [58]:
log.time.head()

14    2019-01-02 08:57:36
29    2019-01-04 13:59:42
151   2019-01-16 21:54:22
189   2019-01-21 18:34:44
205   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]