In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
base_dir = os.path.join('data', 'bookmaker')
log_filename = os.path.join(base_dir, 'log.csv')

In [23]:
# прочитаем файл в переменную log
log = pd.read_csv(log_filename, header=None)

# добавим названия колонок user_id, time, bet, win
log.columns = ['user_id','time','bet','win']

log = log[log['user_id'] != '#error']

In [24]:
log['bet'].fillna(0, inplace=True)
log['win'].fillna(0, inplace=True)

In [25]:
log['net'] = log['win'] - log['bet']

In [26]:
bet_pct = sum(log['bet']>0)/len(log['bet'])
print(f'Доля посетителей, которые сделали ставку: {bet_pct:.1%}')

Доля посетителей, которые сделали ставку: 47.9%

In [27]:
mean_bet = log[log['bet']>0]['bet'].mean()
print(f'Средняя ставка среди всех, кто вообще сделал ставку: {mean_bet}')

Средняя ставка среди всех, кто вообще сделал ставку: 6806.578389830508

In [28]:
mean_net = log[log['bet']>0]['net'].mean()
print(f'Средний выигрыш среди тех, кто вообще сделал ставку: {mean_net}')

Средний выигрыш среди тех, кто вообще сделал ставку: 20879.180084745763

In [29]:
mean_net_losses = log[log['net']<0]['net'].mean()
print(f'Средняя сумма потерь при проигрыше: {mean_net_losses}')

Средняя сумма потерь при проигрыше: -3345.958702064897

In [30]:
win_pct = sum(log['net'] > 0)/len(log['net'])
print(f'Выигрышем заканчивается {win_pct:.2%} ставок')
loss_pct = sum(log['net'] < 0)/len(log['net'])
print(f'Проигрышем заканчивается {loss_pct:.2%} ставок')

Выигрышем заканчивается 13.50% ставок
Проигрышем заканчивается 34.42% ставок

In [33]:
log.groupby('user_id').net.sum().median()

2202.0

In [11]:
# прочитаем файл в переменную log
log = pd.read_csv(log_filename, header=None)

# добавим названия колонок user_id, time, bet, win
log.columns = ['user_id','time','bet','win']

In [12]:
log['bet'].dropna(inplace=True)

In [13]:
min_bet = log['bet'].min()
min_bet_amount = sum(log['bet'] == min_bet)

In [14]:
min_bet_amount

48

In [20]:
log.groupby('user_id').sum()

                                       bet       win      net
user_id
#error                             78378.0  128023.0  85707.0
Запись пользователя № - user_1000   1600.0    4701.0   4301.0
Запись пользователя № - user_900    3800.0   24497.0  22197.0
Запись пользователя № - user_901     600.0       0.0      0.0
Запись пользователя № - user_902    1700.0    4021.0   3821.0
...                                    ...       ...      ...
Запись пользователя № - user_995   12854.0    5889.0   5489.0
Запись пользователя № - user_996    1000.0    4056.0   3956.0
Запись пользователя № - user_997    1200.0       0.0      0.0
Запись пользователя № - user_998   15554.0   41749.0  30095.0
Запись пользователя № - user_999    1600.0       0.0      0.0

[102 rows x 3 columns]