Посмотрим, как работает готовый Naive Bayes алгоритм

В библиотеке sklearn есть несколько байесовских классификаторов:

1. BernoulliNB работает с бинарными признаками
2. MultinomialNB работает с категориальными признаками
3. GaussianNB работает с непрерывными признаками
4. ComplementNB улучшенная версия MultinomialNB, работающая с сильно несбалансированными выборками

Работать будем с датасетом Gender_class.csv
В нем содержатся данные о предпочтениях в цветах, музыке, алкогольных и безалкогольных напитков для мужчин и женщин. Пол человека мы и будем пытаться угадать.

In [2]:
import pandas as pd

# LabelEncoder поможет нам подготовить данные для классификатора "из коробки" sklearn,
from sklearn.preprocessing import LabelEncoder

# naive bayes для категориальных признаков "из коробки"
from sklearn.naive_bayes import MultinomialNB

import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import metrics

df = pd.read_csv('Gender_class.csv')

In [3]:
# давайте посмотрим, что за датасет мы считали
df.sample(15)

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
46,Cool,Hip hop,Wine,Coca Cola/Pepsi,M
10,Cool,Pop,Other,7UP/Sprite,F
58,Warm,Jazz/Blues,Vodka,Coca Cola/Pepsi,M
20,Cool,Pop,Beer,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
27,Cool,Pop,Doesn't drink,Other,F
29,Cool,Electronic,Doesn't drink,Fanta,F
21,Warm,Jazz/Blues,Whiskey,Fanta,F
35,Warm,Electronic,Other,Coca Cola/Pepsi,M
24,Cool,Folk/Traditional,Whiskey,7UP/Sprite,F
43,Cool,Rock,Wine,7UP/Sprite,M
7,Warm,Pop,Whiskey,Fanta,F
57,Warm,Electronic,Vodka,Fanta,M
15,Warm,Jazz/Blues,Wine,Coca Cola/Pepsi,F
47,Cool,R&B and soul,Whiskey,7UP/Sprite,M

Проверьте самостоятельно, что мужчин и женщин в выборке поровну, и найдите общий размер выборки

In [4]:
df['Gender'].value_counts()

F    33
M    33
Name: Gender, dtype: int64

In [6]:
len(df)

66

In [7]:
# если бы мы писали классификатор самостоятельно, можно было бы оставить категории в признаках,
# классификатору это абсолютно неважно.
# готовый naive bayes из sklearn на вход просит данные в числовом формате.
# LabelEncoder() каждой категории внутри признака ставит в соответствие число
le = LabelEncoder()
for i in range(5):
    df.iloc[:, i] = le.fit_transform(df.iloc[:, i])

In [8]:
# разделим датасет на признаки.
dfx = df.drop('Gender', axis = 1)
dfx.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink
0,0,6,3,0
1,1,2,3,1
2,2,6,5,1
3,2,1,4,2
4,0,6,3,1

In [9]:
# и целевую переменную
dfy = df[['Gender']]
dfy.head()

   Gender
0       0
1       0
2       0
3       0
4       0

In [10]:
# разделим данные на train и test
# зафиксируем random_state=180
X_train, X_test, y_train, y_test = train_test_split(dfx, dfy, test_size=0.3, random_state=180) 
X_train.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink
60,0,0,4,1
50,0,5,1,1
42,2,5,1,1
7,2,4,4,2
65,0,0,0,1

Параметры классификатора:

alpha - коэффициент регуляризации, нужен, чтобы классифицировать людей, чей любимый напиток не входит в обучающую выборку. По умолчанию равен 1

fit_prior - если False, то априорные вероятности классов считаются одинаковыми. Если True - априорные вероятности классов вычисляются по обучающей выборке

class_prior - позволяет явно задать априорные вероятности классов, если они нам откуда-то известны.

In [ ]:
mnb = MultinomialNB(alpha=1, fit_prior=True, class_prior=None)

In [ ]:
# обучаем модель
mnb.fit(X_train, y_train.values.ravel())

In [ ]:
# делаем предсказания на тестовой выборке
y_pred = mnb.predict(X_test)
y_pred

In [ ]:
# смотрим, где угадали и не угадали
cnf_matrix = metrics.confusion_matrix(y_test, y_pred)
cnf_matrix

Самостоятельно вычислите Accuracy, Чувствительность, Специфичность, Точность и вероятности ошибок 1 и 2 рода