In [1]:
import pandas as pd

In [2]:
columns = ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']
df = pd.read_csv('train.csv', usecols=columns)

In [3]:
df.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due  compliance
0        250.0       10.0      25.0              0.0        305.0         0.0
1        750.0       10.0      75.0              0.0         75.0         1.0
2        250.0        0.0       0.0              0.0          0.0         NaN
3        250.0        0.0       0.0              0.0          0.0         NaN
4        250.0        0.0       0.0              0.0          0.0         NaN

In [4]:
df.dropna(inplace=True)

In [6]:
X = df.drop('compliance', axis=1)
y = df['compliance']

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=False)

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=23)

model.fit(X_train, y_train)

y_train_pred = model.predict(X_train)

y_test_pred = model.predict(X_test)

from sklearn.metrics import f1_score

f1_train = f1_score(y_train, y_train_pred)

f1_test = f1_score(y_test, y_test_pred)

result = f1_train - f1_test

In [18]:
result

0.08055341409051786