In [1]:
import os
import pandas as pd

In [2]:
kaggle_task_path = os.path.join('data', 'kaggle_task.csv')

In [3]:
df = pd.read_csv(kaggle_task_path)

In [4]:
df.head()

,Restaurant_id,Name,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_0,Le Perchoir,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]",/Restaurant_Review-g187147-d10746918-Reviews-L...,d10746918
1,id_1,Ravintola Kolmon3n,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",/Restaurant_Review-g189934-d6674944-Reviews-Ra...,d6674944
2,id_2,Black Ivy,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",/Restaurant_Review-g186525-d13129638-Reviews-B...,d13129638
3,id_3,Quirinale,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']...",/Restaurant_Review-g186338-d680417-Reviews-Qui...,d680417
4,id_4,Massimo Ristorante,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ...",/Restaurant_Review-g274924-d1112354-Reviews-Ma...,d1112354

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   Name               10000 non-null  object
 2   City               10000 non-null  object
 3   Cuisine Style      7693 non-null   object
 4   Ranking            10000 non-null  float64
 5   Price Range        6525 non-null   object
 6   Number of Reviews  9343 non-null   float64
 7   Reviews            9998 non-null   object
 8   URL_TA             10000 non-null  object
 9   ID_TA              10000 non-null  object
dtypes: float64(2), object(8)
memory usage: 781.4+ KB

In [6]:
# Заполним пропуски в столбце количества отзывов
df['Number of Reviews'].fillna(1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  object
 1   Name               10000 non-null  object
 2   City               10000 non-null  object
 3   Cuisine Style      7693 non-null   object
 4   Ranking            10000 non-null  float64
 5   Price Range        6525 non-null   object
 6   Number of Reviews  10000 non-null  float64
 7   Reviews            9998 non-null   object
 8   URL_TA             10000 non-null  object
 9   ID_TA              10000 non-null  object
dtypes: float64(2), object(8)
memory usage: 781.4+ KB

In [7]:
# Превратим данные в столбце Restaurant_id в числовые данные
df['Restaurant_id'] = df['Restaurant_id'].apply(lambda id: int(id[3:]))

In [8]:
df.head()

,Restaurant_id,Name,City,Cuisine Style,Ranking,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,0,Le Perchoir,Paris,"['Bar', 'Pub']",12963.0,$$ - $$$,4.0,"[[], []]",/Restaurant_Review-g187147-d10746918-Reviews-L...,d10746918
1,1,Ravintola Kolmon3n,Helsinki,"['European', 'Scandinavian', 'Gluten Free Opti...",106.0,$$ - $$$,97.0,"[['Very good reviews!', 'Fine dining in Hakani...",/Restaurant_Review-g189934-d6674944-Reviews-Ra...,d6674944
2,2,Black Ivy,Edinburgh,['Vegetarian Friendly'],810.0,$$ - $$$,28.0,"[['Better than the Links', 'Ivy Black'], ['12/...",/Restaurant_Review-g186525-d13129638-Reviews-B...,d13129638
3,3,Quirinale,London,"['Italian', 'Mediterranean', 'European', 'Vege...",1669.0,$$$$,202.0,"[['Most exquisite', 'Delicious and authentic']...",/Restaurant_Review-g186338-d680417-Reviews-Qui...,d680417
4,4,Massimo Ristorante,Bratislava,"['Italian', 'Mediterranean', 'European', 'Seaf...",37.0,$$$$,162.0,"[['Always the best in bratislava', 'Very good ...",/Restaurant_Review-g274924-d1112354-Reviews-Ma...,d1112354

### 1.3.1 Вопросы о ценах

#### Сколько вариантов непустых значений встречается в столбце 'Price Range'?

In [9]:
price_ranges = pd.Series(df[~df['Price Range'].isna()]['Price Range'])
display(price_ranges.unique())

array(['$$ - $$$', '$$$$', '$'], dtype=object)

#### Ответ: 3

#### Как в датафрейме обозначается самый низкий уровень цен?

#### Ответ: можно догадаться, что '$'

#### Как в датафрейме обозначается самый высокий уровень цен?

#### Ответ: можно догадаться, что \\$\\$\\$\\$

#### Сколько ресторанов относятся к среднему ценовому сегменту?

In [10]:
display(price_ranges.value_counts()[0])

4629

#### Ответ: 18412

In [11]:
# Заполним недостающие данные минимальным уровнем цен
df['Price Range'].fillna('$', inplace=True)
# И проверим изменение картины недостающих данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  int64
 1   Name               10000 non-null  object
 2   City               10000 non-null  object
 3   Cuisine Style      7693 non-null   object
 4   Ranking            10000 non-null  float64
 5   Price Range        10000 non-null  object
 6   Number of Reviews  10000 non-null  float64
 7   Reviews            9998 non-null   object
 8   URL_TA             10000 non-null  object
 9   ID_TA              10000 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 781.4+ KB

In [12]:
# На основе этих фактов создадим столбец с числовыми данными об уровне цен так, чтобы:
# $ соответствовал 1, $$-$$$ - 100, а $$$$ - 1000
def get_price_level(price_range):
    if type(price_range) == str:
        if price_range == '$':
            return 1
        if price_range == '$$-$$$':
            return 100
        if price_range == '$$$$':
            return 1000
    return 100

df['price_level'] = df['Price Range'].apply(get_price_level)

### 1.3.2 Вопросы о городах

#### Сколько городов представлено в наборе данных?

In [13]:
df['City'].nunique()

31

#### Ответ: 31

#### Сколько ресторанов расположены в столичных городах?

In [14]:
# Формируем множество столиц из датасета, найденного на data.world

In [15]:
import json as js

In [16]:
with open('data/country-by-capital-city.json') as json_file:
    country_capital_city_dict = js.load(json_file)

In [17]:
capitals = set()
for row in country_capital_city_dict:
    capitals.add(row['city'])

In [18]:
# Добавим функцию определяющую входит ли город в множество столиц
def is_capital(city):
    return city in capitals

# Применим эту функцию к столбцу 'City'и суммируем результат
df[df['City'].apply(is_capital)]['Restaurant_id'].nunique()

5299

In [19]:
df[df['City'].apply(is_capital)]['City']

0            Paris
2        Edinburgh
3           London
4       Bratislava
5            Paris
           ...
9989         Paris
9991        London
9992        London
9995        London
9999         Paris
Name: City, Length: 5299, dtype: object

In [20]:
df.groupby('Restaurant_id')['Restaurant_id'].count().head(20)

Restaurant_id
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
Name: Restaurant_id, dtype: int64

In [21]:
df[df['Restaurant_id'] == 0]['City']

0    Paris
Name: City, dtype: object

In [22]:
sum(df['Restaurant_id'] == 0)

1

#### Ответ: 21436 - неправильный!!! Причины: был выбран недостаточно информативный датасет по городам. В этом датасете присутствовали только первичные столицы, а административные столицы отсутствовали. Вывод: использовать правильный датасет.

#### Благодаря члену группы sfdatascience1.slack.com с ником Mikhail решение проблемы было найдено в использовании датасета https://www.kaggle.com/viswanathanc/world-cities-datasets#worldcities.csv и в расширении понятия 'столица' кроме тех городов в поле 'capital', которых стоит значение 'primary' еще и городом 'Edinburgh'. Весьма странно, но куда деваться??? Еще раз огромное спасибо Mikhail за титаническую работу, которую он проделал.

In [23]:
cities = pd.read_csv('data/worldcities.csv')

In [24]:
cities[cities['city'] == 'Edinburgh']

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
1036,Edinburgh,Edinburgh,55.9483,-3.2191,United Kingdom,GB,GBR,"Edinburgh, City of",admin,504966.0,1826492520

In [25]:
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6850,139.7514,Japan,JP,JPN,Tōkyō,primary,35676000.0,1392685764
1,New York,New York,40.6943,-73.9249,United States,US,USA,New York,NaN,19354922.0,1840034016
2,Mexico City,Mexico City,19.4424,-99.1310,Mexico,MX,MEX,Ciudad de México,primary,19028000.0,1484247881
3,Mumbai,Mumbai,19.0170,72.8570,India,IN,IND,Mahārāshtra,admin,18978000.0,1356226629
4,São Paulo,Sao Paulo,-23.5587,-46.6250,Brazil,BR,BRA,São Paulo,admin,18845000.0,1076532519

In [26]:
cities['capital'].unique()

array(['primary', nan, 'admin', 'minor'], dtype=object)

#### Как видно в датафрейме cities не столицами считаются только те города, поле capital которых не заполнено никакими данными

In [27]:
# Вычистим города с отсутствующими данными в поле 'capital'
capitals_df = cities.dropna(subset=['capital'])

# Сформируем множество столиц всех типов, кроме типа 'minor'
capitals = set(capitals_df[capitals_df['capital'] == 'primary']['city'])

In [28]:
capitals.add('Edinburgh')

In [29]:
# Применим эту функцию к столбцу 'City'и суммируем результат
sum(df['City'].apply(is_capital))

7559

#### Ответ: 30424, блин!!!

In [30]:
# А теперь на основе этих фактов создадим числовой столбец is_capital
df['is_capital'] = df['City'].apply(is_capital)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  int64
 1   Name               10000 non-null  object
 2   City               10000 non-null  object
 3   Cuisine Style      7693 non-null   object
 4   Ranking            10000 non-null  float64
 5   Price Range        10000 non-null  object
 6   Number of Reviews  10000 non-null  float64
 7   Reviews            9998 non-null   object
 8   URL_TA             10000 non-null  object
 9   ID_TA              10000 non-null  object
 10  price_level        10000 non-null  int64
 11  is_capital         10000 non-null  bool
dtypes: bool(1), float64(2), int64(2), object(7)
memory usage: 869.3+ KB

###  1.3.3. Вопросы о кухнях

#### Сколько типов кухонь представлено в наборе данных?

In [31]:
# Для начала получим Series столбца 'Cuisine Style' без пропусков данных
cuisines = df['Cuisine Style'].dropna()
cuisines

0                                          ['Bar', 'Pub']
1       ['European', 'Scandinavian', 'Gluten Free Opti...
2                                 ['Vegetarian Friendly']
3       ['Italian', 'Mediterranean', 'European', 'Vege...
4       ['Italian', 'Mediterranean', 'European', 'Seaf...
                              ...
9993                           ['European', 'Portuguese']
9994          ['Mediterranean', 'European', 'Portuguese']
9995    ['Caribbean', 'Barbecue', 'Jamaican', 'Vegetar...
9996         ['Indian', 'Asian', 'Nepali', 'Bangladeshi']
9998                                          ['Italian']
Name: Cuisine Style, Length: 7693, dtype: object

In [32]:
type(cuisines.iloc[0])

str

#### Как видим, данные в этом Series представляют собой строковые представления списков в соответствии с синтаксисом языка Python.

In [33]:
# Применим библиотеку ast для перевода строковых представлений списков в соответствии с ситнтаксисом языка Python в списки Python
import ast

def get_list(list_string):
    result_list = ast.literal_eval(list_string)
    return result_list

# Преобразуем данные в столбце 'Cuisine Style' к списку
cuisines = cuisines.apply(get_list)

# Создадим словарь кухонь
cuisines_dict = dict()

for cuisines_list in cuisines:
    for cuisine in cuisines_list:
        try:
            cuisines_dict[cuisine] += 1
        except:
            cuisines_dict[cuisine] = 1

# Выведем количество различных кухонь

print(f'Множество различных кухонь: {len(cuisines_dict)}')

Множество различных кухонь: 115

#### Какая кухня представлена в наибольшем количестве ресторанов? Введите название кухни без кавычек или апострофов.

In [34]:
sorted(cuisines_dict.items(), key = lambda kv:(kv[1], kv[0]), reverse=True)[0]

('Vegetarian Friendly', 2832)

#### Сколько типов кухонь предлагается только в одном ресторане? Введите ответ в виде целого числа.

In [35]:
uno_cuisine_count = 0
unique_cuisines = set()
for cuisine, count in cuisines_dict.items():
    if count == 1:
        unique_cuisines.add(cuisine)
        uno_cuisine_count += 1
print(f'Количество типов кухонь, предлагаемых только в одном ресторане: {uno_cuisine_count}')
print(f'Уникальные кухни:')
display(unique_cuisines)

Количество типов кухонь, предлагаемых только в одном ресторане: 7
Уникальные кухни:

{'Azerbaijani',
 'Georgian',
 'Minority Chinese',
 'Native American',
 'New Zealand',
 'Welsh',
 'Yunnan'}

#### Какое среднее количество кухонь предлагается в одном ресторане? Если в данных отсутствует информация о типах кухонь, то считайте, что в этом ресторане предлагается только один тип кухни. Ответ округлите до одного знака после запятой.

In [36]:
def get_cuisines_count(cuisines):
    if type(cuisines) == str:
        return len(get_list(cuisines))
    return 1

In [37]:
# Заполним недостающие данные в столбце типов кухонь
df['Cuisine Style'].fillna("['usual cuisine']", inplace=True)

In [38]:
# На основании этих фактов создадим числовой столбец 'cuisines_count'
df['cuisines_count'] = df['Cuisine Style'].apply(get_cuisines_count)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  int64
 1   Name               10000 non-null  object
 2   City               10000 non-null  object
 3   Cuisine Style      10000 non-null  object
 4   Ranking            10000 non-null  float64
 5   Price Range        10000 non-null  object
 6   Number of Reviews  10000 non-null  float64
 7   Reviews            9998 non-null   object
 8   URL_TA             10000 non-null  object
 9   ID_TA              10000 non-null  object
 10  price_level        10000 non-null  int64
 11  is_capital         10000 non-null  bool
 12  cuisines_count     10000 non-null  int64
dtypes: bool(1), float64(2), int64(3), object(7)
memory usage: 947.4+ KB

In [39]:
# На основе этих данных создадим столбец с числовыми данными is_unique_cuisine, указывающими на уникальную кухню данного ресторана
def is_unique_cuisine(cuisine):
    cuisines_list = get_list(cuisine)
    cuisines_set = set(cuisines_list)
    return not cuisines_set.isdisjoint(unique_cuisines)

df['unique_cuisine'] = df['Cuisine Style'].apply(is_unique_cuisine)

In [40]:
mean_cuisines_count = df['cuisines_count'].mean()
print(f'Среднее количество кухонь предлагаемых в одном ресторане: {mean_cuisines_count:.1f}')

Среднее количество кухонь предлагаемых в одном ресторане: 2.6

### 1.3.4 Вопросы об отзывах

#### Когда был оставлен самый свежий отзыв? Введите ответ в формате yyyy-mm-dd.

In [41]:
# Сначала заменим nan в строковых представлениях списков отзывов и их дат на строку с датой по-умолчанию
# а также заменим пустой список вида [] на список с незаполненными элементами вида ['01/01/2000', '01/01/2000']
def nan_to_default_date(list_string):
    if type(list_string) == float:
        return "[['review1', 'review2'], ['01/01/2000', '01/01/2000']]"
    list_string = list_string.replace('[nan', "['01/01/2000'")
    list_string = list_string.replace('nan]', "'01/01/2000']")
    list_string = list_string.replace('[]', "['01/01/2000', '01/01/2000']")
    return list_string

df['Reviews'] = df['Reviews'].apply(nan_to_default_date)

In [42]:
# Преобразуем данные в столбце 'Reviews' к типу list
last_review = []
last_review_date = []
prelast_review = []
prelast_review_date = []
for reviews in df['Reviews']:
    reviews_list = get_list(reviews)
    if len(reviews_list) == 2:
        if (len(reviews_list[0]) == 2 and len(reviews_list[1]) == 2):
            last_review.append(reviews_list[0][0])
            last_review_date.append(reviews_list[1][0])
            prelast_review.append(reviews_list[0][1])
            prelast_review_date.append(reviews_list[1][1])
        elif (len(reviews_list[0]) == 1 and len(reviews_list[1]) == 1):
            last_review.append(reviews_list[0][0])
            last_review_date.append(reviews_list[1][0])
            prelast_review.append('None review')
            prelast_review_date.append('01/01/2000')
        else:
            print(reviews_list)

In [43]:
df['last_review'] = last_review
df['last_review_date'] = last_review_date
df['prelast_review'] = prelast_review
df['prelast_review_date'] = prelast_review_date

In [44]:
df['last_review_date'] = pd.to_datetime(df['last_review_date'])
df['prelast_review_date'] = pd.to_datetime(df['prelast_review_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        10000 non-null  int64
 1   Name                 10000 non-null  object
 2   City                 10000 non-null  object
 3   Cuisine Style        10000 non-null  object
 4   Ranking              10000 non-null  float64
 5   Price Range          10000 non-null  object
 6   Number of Reviews    10000 non-null  float64
 7   Reviews              10000 non-null  object
 8   URL_TA               10000 non-null  object
 9   ID_TA                10000 non-null  object
 10  price_level          10000 non-null  int64
 11  is_capital           10000 non-null  bool
 12  cuisines_count       10000 non-null  int64
 13  unique_cuisine       10000 non-null  bool
 14  last_review          10000 non-null  object
 15  last_review_date     10000 non-null  datetime64[ns]
 16  prelast_review       10000 non-null  object
 17  prelast_review_date  10000 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](2), float64(2), int64(3), object(9)
memory usage: 1.2+ MB

In [45]:
newest_review_date = str(df['last_review_date'].dropna().sort_values(ascending=False).iloc[0])[:10]
print(f'Дата самого свежего отзыва: {newest_review_date}')

Дата самого свежего отзыва: 2018-02-26

#### Какое максимальное количество дней отделяет даты публикации отзывов, размещённых на сайте ресторана? Введите количество дней в виде целого числа.

In [46]:
clear_df = df.dropna(subset=['last_review_date', 'prelast_review_date'])
clear_df['timedelta'] = (df['last_review_date'] - df['prelast_review_date'])
def get_days(timedelta):
    return timedelta.days
clear_df['timedelta'] = clear_df['timedelta'].apply(get_days)
max_days_between_reviews = clear_df['timedelta'].sort_values(ascending=False).iloc[0]
print(f'Максимальное количество дней между датами публикации отзывов, размещенных на сайте ресторана составило {max_days_between_reviews} дней.')

Максимальное количество дней между датами публикации отзывов, размещенных на сайте ресторана составило 6625 дней.

In [47]:
clear_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Restaurant_id        10000 non-null  int64
 1   Name                 10000 non-null  object
 2   City                 10000 non-null  object
 3   Cuisine Style        10000 non-null  object
 4   Ranking              10000 non-null  float64
 5   Price Range          10000 non-null  object
 6   Number of Reviews    10000 non-null  float64
 7   Reviews              10000 non-null  object
 8   URL_TA               10000 non-null  object
 9   ID_TA                10000 non-null  object
 10  price_level          10000 non-null  int64
 11  is_capital           10000 non-null  bool
 12  cuisines_count       10000 non-null  int64
 13  unique_cuisine       10000 non-null  bool
 14  last_review          10000 non-null  object
 15  last_review_date     10000 non-null  datetime64[ns]
 16  prelast_review       10000 non-null  object
 17  prelast_review_date  10000 non-null  datetime64[ns]
 18  timedelta            10000 non-null  int64
dtypes: bool(2), datetime64[ns](2), float64(2), int64(4), object(9)
memory usage: 1.4+ MB

In [48]:
# Удалим все столбцы, которые содержат нечисловые данные
non_numeric_fields = [
#     'Restaurant_id',
    'City',
    'Cuisine Style',
    'Price Range',
    'Reviews',
    'URL_TA',
    'ID_TA',
    'last_review',
    'last_review_date',
    'prelast_review',
    'prelast_review_date'
]
clear_df = clear_df.drop(non_numeric_fields, axis=1)

In [49]:
# Посмотрим на таблицу
clear_df.head()

,Restaurant_id,Name,Ranking,Number of Reviews,price_level,is_capital,cuisines_count,unique_cuisine,timedelta
0,0,Le Perchoir,12963.0,4.0,100,True,2,False,0
1,1,Ravintola Kolmon3n,106.0,97.0,100,True,5,False,37
2,2,Black Ivy,810.0,28.0,100,True,1,False,22
3,3,Quirinale,1669.0,202.0,1000,True,5,False,14
4,4,Massimo Ristorante,37.0,162.0,1000,True,6,False,15

In [50]:
# Проверим таблицу на предмет отсутствующих данных
clear_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  int64
 1   Name               10000 non-null  object
 2   Ranking            10000 non-null  float64
 3   Number of Reviews  10000 non-null  float64
 4   price_level        10000 non-null  int64
 5   is_capital         10000 non-null  bool
 6   cuisines_count     10000 non-null  int64
 7   unique_cuisine     10000 non-null  bool
 8   timedelta          10000 non-null  int64
dtypes: bool(2), float64(2), int64(4), object(1)
memory usage: 644.5+ KB

In [51]:
# Как видно, данные присутствуют везде

# Подготовка к моделированию

In [52]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [53]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [54]:
# Создадим функцию, осуществляющую разделение данных, тренировку модели
# и возвращающую MAE по результатам тестирования модели
def fit_test_model(df, feature_set, output_feature):
    # Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
    X = df[feature_set]
    y = df[output_feature]
    
    # Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
    # Для тестирования мы будем использовать 25% от исходного датасета.
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=101)
    
    # Создаём модель
    regr = RandomForestRegressor(n_estimators=100)

    # Обучаем модель на тестовом наборе данных
    regr.fit(X_train, y_train)

    # Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
    # Предсказанные значения записываем в переменную y_pred
    y_pred = regr.predict(X_test)
    
    # Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
    # Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
    mae = metrics.mean_absolute_error(y_test, y_pred)
    return mae

# Первичное моделирование без добавленных признаков

In [55]:
clear_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      10000 non-null  int64
 1   Name               10000 non-null  object
 2   Ranking            10000 non-null  float64
 3   Number of Reviews  10000 non-null  float64
 4   price_level        10000 non-null  int64
 5   is_capital         10000 non-null  bool
 6   cuisines_count     10000 non-null  int64
 7   unique_cuisine     10000 non-null  bool
 8   timedelta          10000 non-null  int64
dtypes: bool(2), float64(2), int64(4), object(1)
memory usage: 644.5+ KB

In [56]:
base_feature_set = [
    'Ranking',
    'Number of Reviews'
]
base_mae = fit_test_model(clear_df, base_feature_set, 'Rating')
print(f'Базовое значение MAE, достигнутое без добавления признаков: {base_mae}')

KeyError: 'Rating'

# Создаём, обучаем и тестируем модель с добавлением различных признаков и сохраняем полученные результаты

In [ ]:
clear_df.info()

In [ ]:
# Формируем список дополнительных признаков
augmented_feature_set = [
    'Restaurant_id',
    'Ranking',
    'price_level',
    'is_capital',
    'cuisines_count',
    'unique_cuisine',
    'timedelta'
]

In [ ]:
# Тренируем и тестируем модель на выборке с базовыми признаками и одним из дополнительных по очереди
# Сохраняем изменения относительно базового значения MAE в справочник
model_test_results = dict()

step = 1

for augmented_feature in augmented_feature_set:
    feature_set = base_feature_set.copy()
    feature_set.append(augmented_feature)
    print(f'Step {step}. Train and test started...')
    mae = fit_test_model(clear_df, feature_set, 'Rating')
    mae_change = base_mae - mae
    model_test_results[augmented_feature] = mae_change
    print(f'Train and test model with {augmented_feature} augmented feature completed.')
    print(f'Achieved MAE change: {mae_change}')
    step += 1
    
import collections

sorted_model_test_results = collections.OrderedDict(model_test_results)

In [ ]:
sorted_model_test_results

In [ ]:
# Как видно из результатов тестирования, признаки Ranking и uniqie_cuisine только ухудшают результат
# Сформируем список признаков, дающих лучший результат и проведем тренировку и тестирование модели

best_feature_set = [
    'Restaurant_id',
    'price_level',
    'is_capital',
    'cuisines_count',
    'timedelta'
]

best_mae = fit_test_model(clear_df, base_feature_set+best_feature_set, 'Rating')
print(f'Базовое значение MAE: {base_mae}')
print(f'Лучшее значение MAE: {best_mae}')
print(f'Изменение MAE: {base_mae - best_mae}')

# Используем sklearn.preprocessing.MultiLabelBinarizer кодирование для признака Cuisine Style

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

In [ ]:
mlb = MultiLabelBinarizer()
encoded = pd.DataFrame(mlb.fit_transform(df['Cuisine Style'].apply(get_list)), columns=mlb.classes_, index=df.index)
mlb_df = pd.concat([clear_df[['Rating']+base_feature_set+best_feature_set], encoded], axis=1)
mlb_feature_set = base_feature_set + best_feature_set + list(mlb.classes_)
mlb_df

In [ ]:
mlb_mae = fit_test_model(mlb_df, mlb_feature_set, 'Rating')

In [ ]:
print(f'При тренировке на данных с применением MiltiLabelBinarizer в отношении признака Cuisine Style достигнуто значение MAE: {mlb_mae}')
print(f'Уменьшение MAE относительно базового: {base_mae - mlb_mae}')
print(f'Уменьшение MAE относительно лучшего значения, достигнутого ранее: {best_mae - mlb_mae}')

In [ ]:
# Создадим справочник вида {city: country}
countries = dict()
for city in cities['city']:
    countries[city] = cities[cities['city'] == city]['country'].iloc[0]

In [ ]:
# Добавляем к основному датафрейму столбец с названиями стран
def get_country(city):
    try:
        return countries[city]
    except:
        return 'The World'

df['country'] = df['City'].apply(get_country)
df.head(1)

In [ ]:
df.info()

In [ ]:
# Применим sklearn.preprocessing.LabelEcoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['country'])

# Добавим коды лейблов к датафрейму mlb_df
mlb_df['country_label'] = le.transform(df['country'])
mlb_df

In [ ]:
# Тренируем и тестируем модель на новых данных
countries_feature_set = mlb_feature_set + ['country_label']
countries_mae = fit_test_model(mlb_df, countries_feature_set, 'Rating')

In [ ]:
print(f'При тренировке на данных с применением LabelEncoder в отношении признака coutry достигнуто значение MAE: {countries_mae}')
print(f'Уменьшение MAE относительно базового: {base_mae - countries_mae}')
print(f'Уменьшение MAE относительно лучшего значения, достигнутого ранее: {mlb_mae - countries_mae}')