In [12]:
import pandas as pd
import numpy as np
import re

In [13]:
df = pd.read_csv('ta_scrapy/fresh_data.csv')

In [14]:
df['Is Closed'] = df['Name'].apply(lambda Name: Name.find('CLOSED') != -1)

In [15]:
df.loc[df['Is Closed'], 'City'] = None

In [16]:
df.loc[df['Is Closed'], 'City']

17       None
23       None
35       None
38       None
44       None
         ...
48768    None
48773    None
48774    None
48777    None
48790    None
Name: City, Length: 4939, dtype: object

In [17]:
df.drop('Average Marks', axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48809 entries, 0 to 48808
Data columns (total 15 columns):
Name                 48809 non-null object
City                 43829 non-null object
Cuisine Style        45619 non-null object
Ranking              43837 non-null float64
Restaurants Count    43837 non-null float64
Relative Ranking     43837 non-null float64
Rating               48772 non-null float64
Price Range          38980 non-null object
Number of Reviews    47288 non-null float64
Excellent Marks      48623 non-null float64
Very Good Marks      48761 non-null float64
Poor Marks           48773 non-null float64
Terrible Marks       48773 non-null float64
URL_TA               48809 non-null object
Is Closed            48809 non-null bool
dtypes: bool(1), float64(9), object(5)
memory usage: 5.3+ MB

In [21]:
df['Cuisine Style'].unique()

array(['French, European, International', 'German, Central European',
       'Italian', ..., 'Cafe, European, Italian, Bar',
       'Pub, Czech, Eastern European, Central European',
       'Quick Bites, Caribbean, Fast Food, Barbecue, Jamaican, Halal'],
      dtype=object)

In [23]:
# Создадим функцию, приводящую текст к нижнему регистру и очищающую его от знаков пунктуации
def get_cuisines(text):
    '''
        Функция get_cuisine(text) возвращает список с видами кухонь
        из строки вида ''French, European, International'.
        Аргументы:
            text - строка с текстом
        Результат:
            список видов (python list)
        Пример испольования:
            get_words('Hello, world!')
        вернет:
            ['hello', 'world']
    '''
    clean_text = ''.join(c for c in clean_text if c not in string.punctuation)
    words = clean_text.split()
    return words

In [22]:
def get_cuisines_list(cuisine):
    try:
        return '[' + cuisine + ']'
    except:
        pass
    return None

In [8]:
df['Cuisine Style'] = df['Cuisine Style'].apply(get_cuisines_list)

In [9]:
columns = list()
for column in df.columns:
    columns.append('New ' + column)

df.columns = columns

df.to_csv('data/new_data.csv')